.anchorpane{
    -fx-background-image: url("../../Images/backgrounds/background.jpg");
    -fx-background-size: cover; /* o contain, según prefieras */
    -fx-background-position: center center;
    -fx-pref-width: 1366;
    -fx-pref-height: 690;
}

.menu-button{
    -fx-font-family: "Open Sans Regular";
    -fx-text-fill: white;
    -fx-background-color: #545454;
    -fx-text-alignment: center;
    -fx-font-size: 18px;

    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-insets: 0;

    -fx-pref-width: 240;
    -fx-pref-height: 80;
}

.menu-button:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.menu-button:pressed{
}

.title-label{
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 58;
    -fx-text-fill: white;
    -fx-spacing: -4px;
}

.rectangles{
    -fx-fill: rgba(0, 0, 0, 0.7);
}

.Circle{
    -fx-fill: rgba(0, 0, 0, 0.7);
}
