.title-label1 {
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 58;
    -fx-text-fill: white;
    -fx-spacing: -4px;
}

.title-label2 {
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 58;
    -fx-text-fill: white;
    -fx-spacing: -4px;
}