.anchorpane{
    -fx-background-image: url("../../Images/backgrounds/backgroundCharacter.png");
    -fx-background-size: cover; /* o contain, según prefieras */
    -fx-background-position: center center;
    -fx-pref-width: 1366;
    -fx-pref-height: 690;
}

.rectangles{
    -fx-arc-height: 70;
    -fx-arc-width: 70;
    -fx-fill: rgba(0, 0, 0, 0.9);
}

.info-label{
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 42;
    -fx-text-fill: white;
    -fx-spacing: -4px;
}

.name-label{
    -fx-font-family: "Open Sans Regular";
    -fx-font-size: 22;
    -fx-text-fill: white;
    -fx-spacing: -4px;
}

.arrow-button {
    -fx-background-color: #545454;
    -fx-padding: 10;
    -fx-shape: "";
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0.5, 1, 1);
}

.arrow-button:hover{
    -fx-background-color: white;
}

.arrow-button.left {
    -fx-shape: "M 20 0 L 0 10 L 20 20 Z";
    -fx-min-width: 40;
    -fx-min-height: 40;
}

.arrow-button.right {
    -fx-shape: "M 0 0 L 20 10 L 0 20 Z";
    -fx-min-width: 40;
    -fx-min-height: 40;
}

.back-button{
    -fx-background-image: url("../../Images/sceneImages/backImage.png");
    -fx-min-width: 140;
    -fx-min-height: 140;
    -fx-background-color: transparent;
}

.back-button:hover{
    -fx-background-image: url("../../Images/sceneImages/backImageHover.png");
}

.select-button{
    -fx-background-color: #545454;
    -fx-padding: 10;
    -fx-background-radius: 5;
    -fx-min-height: 60;
    -fx-min-width: 220;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-family: "Open Sans Bold";
}

.select-button:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}
