.anchorpane{
    -fx-background-image: url("../../Images/backgrounds/backgroundSetup.jpg");
    -fx-background-size: cover; /* o contain, según prefieras */
    -fx-background-position: center center;
    -fx-pref-width: 1366;
    -fx-pref-height: 690;
}

.gridpane{
    -fx-border-radius: 5px;
    -fx-border-width: 5px;
    -fx-border-color: white;
    -fx-background-image: url("../../Images/backgrounds/backgroundGridPane.jpg");
}

.cell{
    -fx-background-color: DARKGRAY;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.cell:empty{
    -fx-background-color: transparent;
}

.cell:ship{
    -fx-background-color: #05f605;
}

.cell:over{
    -fx-background-color: #070c47;
}

.rectangles{
    -fx-arc-height: 70;
    -fx-arc-width: 70;
    -fx-fill: rgba(0, 0, 0, 0.8);
}

.ship {
    -fx-effect: dropshadow(gaussian, black, 5, 0.5, 0, 0);
    -fx-background-color: transparent;
}

.back-button{
    -fx-background-image: url("../../Images/sceneImages/backImage.png");
    -fx-min-width: 140;
    -fx-min-height: 140;
    -fx-background-color: transparent;
}

.back-button:hover{
    -fx-background-image: url("../../Images/sceneImages/backImageHover.png");
}

.ready-button{
    -fx-font-family: "Open Sans Regular";
    -fx-text-fill: white;
    -fx-background-color: #545454;
    -fx-text-alignment: center;
    -fx-font-size: 18px;

    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-insets: 0;

    -fx-pref-width: 240;
    -fx-pref-height: 80;
}

.ready-button:disabled{
    -fx-opacity: 0.5;
    -fx-cursor: default;
    -fx-background-color: #373636;
}

.ready-button:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.textField{
    -fx-font-size: 18;
    -fx-background-radius: 5px;
}